<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <%= link_to 'Update', full_update_path, class: 'btn btn-primary' %>
    <%= link_to 'Clear', full_clear_path, class: 'btn btn-primary disabled' %>
</div>
<p>
    No entries in table.
</p>
<p>
    <i>Why don't you press 'Update' to get some bike racks?</i>
</p>
