<%= render 'search_box' %>
<% unless @bike_racks.empty? %>
  <div id="bike-table">

      <table class="table table-hover table-condensed">
          <%= render @bike_racks %>
      </table>

  </div>
<% end %>
