<%= link_to 'Clear', full_clear_path, class: 'btn btn-primary btn-block'%>
<div id="bike-table">
  <table class="table table-bordered table-striped table-hover table-condensed">
      <tr>
          <th>Address</th>
          <th>Side of street</th>
          <th># of racks</th>
      </tr>
      <%= render @bike_racks %>
  </table>
</div>

