<!DOCTYPE html>
<html id='bike-rack-html'>
  <body id='bike-rack-body'> 
    <%= render 'map' %>
    <div class="col-xs-4" id="bike-table-column">
      <%= render 'table_bike_racks' %>
    </div>
  </body>
</html>