<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <%= render 'map' %>
    <div class="col-xs-4" id="bike-table-column">
      <%= render 'table_bike_racks' %>
    </div>
      </body>
</html>