<div id="map"></div>
<div class="col-xs-4" id="bike-table-column">
  <%= render 'table_bike_racks' %>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjOrbjfVvqyAucNEt1tP7rC-HfhvdyY1o&callback=initMap"
  async defer>
</script>
