<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <%= render 'map' %>
    <div class="col-xs-4" id="bike-table-column">
      <%= render 'table_bike_racks' %>
    </div>
      </body>
</html>