<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4" id="bike-table-column">
        <% if @bike_racks.empty? %>
          <%= render 'empty_bike_racks' %>
        <% else %>
          <%= render 'table_bike_racks' %>
        <% end %>
      </div>
      <div class="col-xs-8">
          <img class = "img-responsive" src="/media/dummymap.png">
      </div>
    </div>
  </div>
<body>
