<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4" id="bike-table-column">
        <%= link_to 'Update', full_update_path, class: 'btn btn-primary' %>
        <%= render 'table_bike_racks' %>
      </div>
    </div>
  </div>
<body>
