<body id="front-body">
  <section id="about" class="about">
    <div class="container project-banner">
      <div class="row text-vertical-center">
        <h1>PARK YOUR BIKE!</h1>
        <h3>TODO write something here</h3>
        </div>
    </div>
  </section>
  
  <section id="services" class="services bg-info">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
          <h2>WHAT YOU CAN DO HERE!</h2>
          <hr class="small">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                </span>
                <h4>
                  <strong>LIST BIKE RACK!</strong>
                </h4>
                <p>LIST BIKE RACKS IN A TABLE FORMAT!</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                </span>
                <h4>
                  <strong>SHOW ON A MAP!</strong>
                </h4>
                <p>SHOW BIKE RACKS ON A MAP!</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                </span>
                <h4>
                  <strong>HAVE AN ACCOUNT!</strong>
                </h4>
                <p>YOU CAN HAVE AN ACCOUNT!</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                </span>
                <h4>
                  <strong>SHARE ON FACEBOOK!</strong>
                </h4>
                <p>SHARE YOUR FAVORIATE BIKE RACKS ON FACEBOOK WITH YOUR FAVORITE FRIENDS!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <aside class="team-banner">
    <div class="text-vertical-center">
      <h1>SCREAMING TORTOISES!</h1>
    </div>
  </aside>
</body>