<div class="bg-home">
  <div class="container">
    <div class="banner">
      <div class="banner-text">
        <h1>PARK YOUR BIKE!</h1>
        <h3>TODO write something here</h3>
      </div>
    </div>
  </div>
</div>
<div class="bottom-content content-bg">
  <div class="container">
    <div class="row text-center">
      <h2>What you can do here</h2>
    </div>
    <hr class="gradient">
    <div class="row text-center">
      <div class="col-xs-3">
        <h3>See a list of bike racks</h3>
        <p>List bike racks in a table format</p>
      </div>
      <div class="col-xs-3">
        <h3>Show a map of bike racks</h3>
        <p>Show bike racks on a map</p>
      </div>
      <div class="col-xs-3">
        <h3>Register to rate</h3>
        <p>Sign in to leave ratings on bike racks</p>
      </div>
      <div class="col-xs-3">
        <h3>Share on Facebook</h3>
        <p>Share your favourite bike racks with your friends</p>
      </div>
    </div>
    <hr class="gradient">
    <div class="row text-center">
      <small>© Copyright 2015, Screaming Tortoises</small>
    </div>
  </div>
</div>
