<div class="bg-team">
  <div id="bg-layer">
    <div class="container team-banner">
      <div class="banner-text">
        <h1>SCREAMING TORTOISES</h1>
        <hr class="gradient">
        <h2>Meet our people</h2>
      </div>
    </div>
    <div class="container headshots">
      <div class="row text-center content-bg">
        <div class="col-sm-2 col-sm-offset-2">
          <img src="http://www.clipartbest.com/cliparts/ncB/XBX/ncBXBXgBi.png" ,
               class="img-responsive img-circle headshot">
          <h3>Calvin Cheng</h3>
        </div>
        <div class="col-sm-2">
          <img src="http://www.clipartbest.com/cliparts/ncB/XBX/ncBXBXgBi.png" ,
               class="img-responsive img-circle headshot">
          <h3>Stephanie Dong</h3>
        </div>
        <div class="col-sm-2">
          <img src="http://www.clipartbest.com/cliparts/ncB/XBX/ncBXBXgBi.png" ,
               class="img-responsive img-circle headshot">
          <h3>William Lee</h3>
        </div>
        <div class="col-sm-2">
          <img src="http://www.clipartbest.com/cliparts/ncB/XBX/ncBXBXgBi.png" ,
               class="img-responsive img-circle headshot">
          <h3>Kyle Lin</h3>
          <h4>(Chen-Kai Lin)</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
