  <section id="team-intro">
      <div class="team-banner">
        <div id="about-text" class="row">
          <h1>SCREAMING TORTOISES</h1>
          <hr id="team">
          <h3>Meet our people</h3>
        </div>
    </div>
  </section>

  <section id="team">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                </span>
                <h4>
                  <strong>Calvin Cheng</strong>
                </h4>
                <p>Hello I'm Calvin.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                </span>
                <h4>
                  <strong>Stephanie Dong</strong>
                </h4>
                <p>Hello I'm Stephanie.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                </span>
                <h4>
                  <strong>William Lee</strong>
                </h4>
                <p>Hello I'm William.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                </span>
                <h4>
                  <strong>Kyle Lin (Chen-Kai Lin)</strong>
                </h4>
                <p>Hello I'm Kyle.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>