<body>
  <div class="navbar navbar-fixed-top navbar-inverse">
     <div class="navbar-inner">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img class = "logo" src="/media/fulllogowhite.png" height="60" width="400">
          <img class = "logo_hover"src="/media/fulllogoblue.png" height="60" width="400">
        </a>
      </div>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About",  '#'%></li>
          <li><%= link_to "Log in",  '#'%></li>
        </ul>
      </nav>
     </div>
  </div>