// Place all the styles related to the bike_racks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div#bike-table-column {
  position:fixed;
  left: 0px;
  top: 75px;
}

#bike-table {
  height: calc(100vh - 100px);
  overflow: scroll;
  opacity: 0.8;
  background: #ccc;
}

#map {
  height: 100%;
}
