// Place all the styles related to the bike_racks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bike-rack-row {
  cursor: pointer;
}

div#bike-table-column {
  position:fixed;
  height: calc(100vh - 100px);
  left: 0px;
  top: 75px;
}

#bike-table {
  height: 100%;
  overflow: scroll;
  opacity: 0.8;
  background: #ccc;
}

#bike-rack-info {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
  background: #ccc;
}

#map {
  height: 100%;
}

#map .gm-style-mtc {
  display: none;
}
