@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 85px;
}

.navbar-inner {
  margin-right: 89px;
  margin-left: 55px;
}

.navbar {
  height: 75px;
}

body> div div a .logo {
  margin-bottom: 20px;
}

body> div div a .logo_hover {
  display: none
}

body> div div a:hover .logo_default {
  display: none
}

body> div div a:hover .logo_hover {
  display: block
}

div#left-column {
  background: #FFFFFF
}