@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 75px;
}

.btn {
  padding-top: 10px;
  padding-left: 4px;
  padding-bottom: 10px;
  padding-right: 4px
}

.navbar-inner {
  margin-right: 25px;
  margin-left: 75px;
}

.navbar {
  height: 60px;
}

body> div div a .logo {
  margin-bottom: 10px;
}

body> div div a .logo_hover {
  display: none
}

body> div div a:hover .logo_default {
  display: none
}

body> div div a:hover .logo_hover {
  display: block
}
